:root {
  --color-body: #1B1B1B;

  --color-header-text: #b1b1b1;
  --color-main-text:#FFF;
  --color-second-text: #7C6E8B;
  --color-text-hover: #fff;

  --container-background-color: #282828;
  
  --btn-background-color: #197396;
  --btn-hover: #1095CA;

  --icon-color: #b1b1b1;
  --icon-hover: #fff;

  --switcher-hover:#fff;
}