@use '@/styles/vars/vars';

.logo {
  cursor: pointer;
  color: var(--icon-color);

  @media (hover: hover) {
    &:hover {
      svg {
        transform: scale(1.05);
        color: var(--icon-hover);
      }
    }
  }

  svg {
    width: 129px;
    height: 40px;
    transition: transform vars.$duration vars.$timing, color vars.$duration vars.$timing;

    @media (width < vars.$media-768) {

    }
  }
}
