.block-portfolio {
  &__top-block {
    display: flex;
    gap: 20px;
  }

  &__image-container {
    width: 350px;
    height: 450px;
    flex-shrink: 0;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 8px;
    }
  }

  &__title-chips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-wrap: nowrap;
  }

  &__bottom-chips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__bottom-block {
    display: flex;
    gap: 20px;
  }
}