@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.projects-preview {
  @include mixins.background-container;

  width: 840px;
  height: 304px;

  padding: 20px 20px 30px 20px;

  &__top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    @include mixins.Body-regular-20;
    @include mixins.transition-color;
    color: var(--color-main-text);
  }

  &__see-all {
    cursor: pointer;
    @include mixins.Body-regular-20;
    @include mixins.transition-color;
    color: var(--color-second-text);

    &:hover {
      color: var(--color-text-hover);
    }

    &:active {
      color: var(--color-text-hover);
    }
  }

  &__swiper {
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    &-wrapper {
      display: flex;
      gap: 10px;
    }

    &-slide {
      cursor: pointer;
      width: 260px;
      height: 212px;
      border-radius: 8px;
      flex-shrink: 0;
      overflow: hidden;

      &:hover img {
        transform: scale(1.1);
      }
      &:active img {
        transform: scale(1.1);
      }
      img {
        object-fit: cover;
        border-radius: 8px;
        transition: transform vars.$duration  vars.$timing;
      }
    }
  }
}