@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.hard-skills {
  margin-top: 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 16px;
  box-sizing: border-box;

  @include mixins.background-container;
  &__title {
    @include mixins.Body-regular-20;
    color: var(--color-main-text);
    @include mixins.transition-color;
  }
  &__skills {
    display: flex;
    gap: 15px;
  }
  &__skill {
    list-style-type: none;
    @include mixins.Body-regular-16;
    color: var(--color-second-text);
    @include mixins.transition-color;
  }
}
