@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 20px;

  &__copyright {
    @include mixins.Body-light-16;
    color: var(--color-main-text);
    @include mixins.transition-color;
  }
}