@use '@/styles/vars/media';

:root {
  --container-width: 1600px;
  --container-gap: 30px;

  @media (width < media.$media-1920) {
    --container-gap: 15px;
    --container-width: 1330px;
  }
  @media (width < media.$media-1280) {
    --container-gap: 8px;
    --container-width: 980px;
  }

  @media (width < media.$media-768) {
    --container-width: 740px;
  }
}

.container {
  max-width: calc(
    var(--container-width) + var(--container-gap) + var(--container-gap)
  );
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
