@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.main-info {
  text-wrap: nowrap;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;

  padding: 12px 16px;
  box-sizing: border-box;

  max-height: 60px;

  @media (width < vars.$media-1280) {
    padding: 8px 10px;
    gap: 20px;
  }

  @media (width < vars.$media-768) {}

  @include mixins.background-container;

  &__type {
    @include mixins.Body-regular-18;
    color: var(--color-second-text);

    @include mixins.transition-color;

    @media (width < vars.$media-1280) {
      @include mixins.Body-regular-16;
    }
  }

  &__textOfType {
    @include mixins.Body-regular-25;
    color: var(--color-main-text);

    @include mixins.transition-color;

    @media (width < vars.$media-1280) {
      @include mixins.Body-regular-20;
    }
  }
}