@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.main-info {
  display: flex;
  align-items: center;
  gap: 40px;

  padding: 12px 16px;
  box-sizing: border-box;

  height: 50px;

  @include mixins.background-container;

  &__type {
    @include mixins.Body-regular-18;
    color: var(--color-second-text);

    @include mixins.transition-color;
  }
  &__textOfType {
    @include mixins.Body-regular-25;
    color: var(--color-main-text);

    @include mixins.transition-color;
  }
}
